In [25]:
import pandas as pd
import os

#### Merging all files into one

In [48]:
files = [file for file in os.listdir('./Sales_Data')]
all_data_month = pd.DataFrame()
for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    all_data_month = pd.concat([all_data,df])
all_data_month.to_csv("all_data.csv",index=False)

In [51]:
df = pd.read_csv("all_data.csv")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"